
// Fonts
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

// BotUI
// Variables
@import "botui.min.css";

@import "node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
$font-family-sans-serif: "Source Sans Pro";

$radius-small: 40px;
$background: transparent;
$link: #05b2bc;
$primary: black;
$warning: #ffaf48;

@import "node_modules/bulma/bulma";
@import "botman";
@import "landing";

.number {
  background-color: transparent;
  border-radius: 0;
  display: relative;
  margin: 0;
  padding: 0;
  align-items: initial;
  font-size: inherit;
  height: auto;
}